docs/build
eslint.log
examples/*/*.*.result
lib/generated/policy-statements/.cache
node_modules
package-lock.json
stats/*/.cache
test/cdk.out
test/package-lock.json
*.tgz
*.tsbuildinfo
**/*.d.ts
**/*.d.ts.map
**/*.js
