
# Exclude typescript source and config
*.ts
tsconfig.json
tsconfig.tsbuildinfo

# Include javascript files and typescript declarations
!*.js
!*.d.ts

# Exclude jsii outdir
dist

# Include .jsii
!.jsii
README.md
Makefile
