
# Exclude typescript source and config
*.ts
tsconfig.json
tsconfig.tsbuildinfo

# Include javascript files and typescript declarations
!*.js
!*.d.ts

# Exclude outdir
dist

bin/*
lib/generator/*
.github/*
test/*
test/package.json
VERSION
CHANGELOG/*
docs/*
examples/*
helper/*
README.md
Makefile
*.Makefile
cdk
stats
twitter
.editorconfig
