# Exclude typescript source and config
*.ts
tsconfig.*
*.tgz

bin/*
cdk/*
CHANGELOG/*
docs/*
eslint.log
examples/*
helper/*
lib/generator/*
node_modules
stats/*
test/*
tooter/*
VERSION

.editorconfig
.github/*
.gitignore
.readthedocs.yaml
.npmignore
.vscode/*

Makefile
*.Makefile

# Include all javascript files and typescript declarations
!*.js
!*.d.ts
