.sphinx-tabs pre,
.highlight pre {
  background-color: #282a36 !important;
}

.sphinx-tabs div[class*='highlight-'] {
  margin: 0 !important;
}

.sphinx-tabs .ui.segment.sphinx-tab {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.sphinx-tabs .code-tab.tab {
  padding: 0 !important;
  border: 0 !important;
}

.rst-content pre.literal-block,
.rst-content div[class^='highlight'] {
  border: 0 !important;
}

#github-corner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  /* mix-blend-mode: darken; activate, to make the cat transparent */
}

#github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  #github-corner:hover .octo-arm {
    animation: none;
  }
  #github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#co2-neutral {
  margin-top: 15px;
  text-align: center;
}

#co2-neutral a {
  position: relative;
  cursor: pointer;
  display: block;
  z-index: 999;
}

#co2-neutral a img {
  width: 150px;
  height: auto;
  border: 0;
}

.wy-nav-content-wrap.shift {
  z-index: 1;
}
