.. tabs::

   .. group-tab:: TypeScript

      .. literalinclude:: {}.ts
         :language: typescript
         :start-after: doc-start
         :end-before: doc-end
         :dedent:

   .. group-tab:: Python

      .. literalinclude:: {}.py
         :language: python
         :start-after: doc-start
         :end-before: doc-end
         :dedent:

   .. group-tab:: Java

      .. literalinclude:: {}.java
         :language: java
         :start-after: doc-start
         :end-before: doc-end
         :dedent:

   .. group-tab:: C#

      .. literalinclude:: {}.cs
         :language: csharp
         :start-after: doc-start
         :end-before: doc-end
         :dedent:

   .. group-tab:: Go

      .. literalinclude:: {}.go
         :language: go
         :start-after: doc-start
         :end-before: doc-end
         :dedent:
         :tab-width: 4

   .. group-tab:: Result

      .. literalinclude:: {}.result
         :language: json
