.. tabs::

   .. group-tab:: TypeScript

      .. literalinclude:: {}.ts
         :language: javascript
         :start-after: doc-start

   .. group-tab:: JavaScript

      .. literalinclude:: {}.ts
         :language: javascript
         :start-after: doc-start

   .. group-tab:: Python

      .. literalinclude:: {}.py
         :language: python
         :start-after: doc-start
         :end-before: doc-end
         :dedent: 4

   .. group-tab:: Result

      .. literalinclude:: {}.result
         :language: json
