# Pin docutils <0.22 due to sphinx-tabs incompatibility with docutils 0.22.4
# See: https://github.com/executablebooks/sphinx-tabs/issues/212
docutils==0.21.2
sphinx-tabs
sphinx_rtd_theme
sphinx-watch
