---
name: Dependabot Automerge - Action

on:
  pull_request:

jobs:
  worker:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Wait for status checks
        id: waitforstatuschecks
        uses: WyriHaximus/github-action-wait-for-status@v1.5.0
        with:
          ignoreActions: worker,WIP
          checkInterval: 300
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Automerge
        uses: pascalgn/automerge-action@v0.15.2
        if: steps.waitforstatuschecks.outputs.status == 'success'
        env:
          MERGE_LABELS: update
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_DELETE_BRANCH: true
