---
name: Automerge

on:
  pull_request_target:
    types: [labeled]

jobs:
  automerge_dependabot:
    runs-on: ubuntu-latest
    if: |
      github.actor == 'dependabot[bot]' &&
      contains(github.event.pull_request.labels.*.name, 'dependencies')
    steps:
      - name: Wait for status checks
        id: waitforstatuschecks
        uses: WyriHaximus/github-action-wait-for-status@v1.7.1
        with:
          ignoreActions: worker,automerge_dependabot,automerge_ci,WIP
          checkInterval: 60
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Automerge
        uses: pascalgn/automerge-action@v0.15.3
        if: steps.waitforstatuschecks.outputs.status == 'success'
        env:
          MERGE_LABELS: dependencies
          UPDATE_LABELS: dependencies
          GITHUB_TOKEN: ${{ secrets.OVERRIDE_TOKEN }}
          MERGE_DELETE_BRANCH: true

  automerge_ci:
    runs-on: ubuntu-latest
    if: |
      github.actor == 'udondan' &&
      contains(github.event.pull_request.labels.*.name, 'automerge')
    steps:
      - name: Wait for status checks
        id: waitforstatuschecks
        uses: WyriHaximus/github-action-wait-for-status@v1.7.1
        with:
          ignoreActions: worker,automerge_dependabot,automerge_ci,WIP
          checkInterval: 60
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Automerge
        uses: pascalgn/automerge-action@v0.15.3
        if: steps.waitforstatuschecks.outputs.status == 'success'
        env:
          MERGE_LABELS: automerge
          UPDATE_LABELS: automerge
          GITHUB_TOKEN: ${{ secrets.OVERRIDE_TOKEN }}
          MERGE_DELETE_BRANCH: true
